@import url('Variables.css');

.box-grupo{
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    border-bottom: 1px solid var(--linea-contraste);
}
.box-grupo h2{
    color: var(--principal);
    font-size: 1.3rem;
    font-family: var(--par);
    margin-bottom: 10px;
}
.box-grupo li{
    list-style-type: none;
}
