@import url('Variables.css');


.grid-box{
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:"a1 a1"
                      "a2 a3"
                      "a4 a3";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 37fr 1fr;
  background-color: var(--fondo);
}

/* Header ---------------------------------------- */
#box-area-1{
  grid-area: a1;
  border-bottom: 2px solid var(--linea-contraste);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 0;
}
/* Nav Column ------------------------------------ */
#box-area-2{
  grid-area: a2;
  min-width: 250px;
  border-right: 2px solid var(--linea-contraste);
}
#box-area-4{
  grid-area: a4;
  min-width: 250px;
  border-right: 2px solid var(--linea-contraste);
}
/* Fedd ------------------------------------------ */
#box-area-3{
  grid-area: a3;
}

.nav-col{
  flex-basis: 20%;
}

